# Default: ignore everything in repository root/context
*
.gradle-user/

# Allow only files needed by Dockerfile build steps
!.dockerignore
!Dockerfile
!gradlew
!gradle/
!gradle/**
!build.gradle
!settings.gradle
!build/
!build/libs/
!build/libs/app.jar
!src/
!src/main/
!src/main/**
