# Database Configuration
DB_URL=ENTER-YOUR-DB-URL-HERE
DB_USERNAME=ENTER-YOUR-DB-USERNAME-HERE
DB_PASSWORD=ENTER-YOUR-DB-PASSWORD-HERE

# Firebase Configuration
FIREBASE_KEY_BASE64=ENTER-YOUR-FIREBASE-KEY-BASE64-HERE

# Kakao Local API
KAKAO_REST_API_KEY=ENTER-YOUR-KAKAO-REST-API-KEY-HERE
KAKAO_LOCAL_BASE_URL=ENTER-YOUR-KAKAO-LOCAL-BASE-URL-HERE

# Shelter API Configuration
SHELTER_API_SERVICE_KEY=ENTER-YOUR-SHELTER-API-SERVICE-KEY-HERE

# AI API Configuration
AI_API_KEY=ENTER-YOUR-AI-API-KEY-HERE

# Storage Configuration
AWS_REGION=ENTER-YOUR-AWS-REGION-HERE
AWS_S3_BUCKET=ENTER-YOUR-AWS-S3-BUCKET-HERE
