/* Swagger Dark Theme */
:root {
  --primary-color: #007bff;
  --bg-color: #1b1b1b;
  --text-color: #d1d1d1;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

.swagger-ui {
  filter: invert(88%) hue-rotate(180deg);
}

.swagger-ui .topbar {
  display: none;
}

.swagger-ui .info .title,
.swagger-ui .info li,
.swagger-ui .info p,
.swagger-ui .info table,
.swagger-ui .opblock-tag,
.swagger-ui .opblock .opblock-summary-operation-id,
.swagger-ui .opblock .opblock-summary-path,
.swagger-ui .opblock .opblock-summary-description,
.swagger-ui .opblock-description-wrapper p,
.swagger-ui .opblock-external-docs-wrapper p,
.swagger-ui .opblock-title_wrapper p,
.swagger-ui .responses-inner h4,
.swagger-ui .responses-inner h5,
.swagger-ui .response-col_status,
.swagger-ui .response-col_links,
.swagger-ui .parameter__name,
.swagger-ui .parameter__type,
.swagger-ui .parameter__deprecated,
.swagger-ui .parameter__in,
.swagger-ui .model-title,
.swagger-ui .model,
.swagger-ui section.models h4,
.swagger-ui section.models h4 span,
.swagger-ui .model-box {
  color: var(--text-color) !important;
}

/* 이미지나 특정 색상은 반전을 다시 되돌려서 자연스럽게 처리 */
.swagger-ui img,
.swagger-ui .opblock-summary-method {
  filter: invert(100%) hue-rotate(180deg);
}
